body {
  background-color: #B2EBF2;
}

img.main {
  float: left;
}
img {
  width: 25%;
  padding: 20px;
}
.left {
  float: left;
  padding-right: 20px;
}
.right {
  float: right;
  padding-left: 20px;
}
.sidebar {
  float: right;
  height: 1000px;
  width: 25%;
  background-color: #E1BEE7;
  border: 4px solid orange;
  padding: 10px;
  margin: 10px;
}
.main {
  padding: 9px;
}
